@use "../../../assets/default.scss" as *;
.text {
  letter-spacing: normal !important;
  line-height: 1.5 !important;
  color: $darkIndigo;
  &.copy-text {
    color: $white;
  }
  &.divider {
    height: 30px;
    padding-left: 19px;
    border-left: 1px solid $lightCyanBlue;
  }
  &.spotlight {
    color: $primaryBlue;
    font-size: 14px;
    font-family: $fontOutfitSemiBold;
  }
  &.unspotlight {
    color: $sunFlowerYellow;
    font-size: 14px;
    font-family: $fontOutfitSemiBold;
  }
  &.border-bottom {
    border-bottom: 1px solid #0000001f;
  }
  &.detail-id {
    background-color: #f7fafc;
    border: none;
    border-radius: 3px;
    color: #848b9e !important;
    padding: 4px 14px;
  }
  &.mb-10 {
    margin-bottom: 10px;
  }
  &.default-text {
    color: $darkIndigo;
    font-family: $fontOutfitRegular;
  }
  &.dialog-title {
    font-family: $fontOutfitSemiBold;
    font-size: $font18;
  }
  &.font-regular {
    font-family: $fontOutfitRegular;
  }
  &.font-bold {
    font-family: $fontOutfitBold;
  }
  &.font-SemiBold {
    font-family: $fontOutfitSemiBold;
  }
  &.font-medium {
    font-family: $fontOutfitMedium;
  }
  &.font-light {
    font-family: $fontOutfitLight;
  }
  &.font15 {
    font-size: $font15;
  }
  &.font14 {
    font-size: $font14;
  }
  &.font16 {
    font-size: $font16;
  }
  &.font12 {
    font-size: $font12;
  }
  &.font18 {
    font-size: $font18;
  }
  &.font20 {
    font-size: $font20;
  }
  &.font24 {
    font-size: $font24;
  }
  &.font28 {
    font-size: $font28;
  }

  &.flex-text {
    align-items: center;
    display: flex;
  }
  &.grey-text {
    color: $greyText;
    font-family: $fontOutfitRegular;
  }
}
