@use "../../../assets/default.scss" as *;
.common-skeleton {
  background-color: #e8ecef !important;
  &.table-skeleton {
    height: 18px;
    border-radius: 6px;
  }
  &.copy-text-wrapper {
    width: 200px;
    height: 20px;
    margin-top: 20px;
  }
  &.product-status-wrapper {
    width: 300px;
  }
  &.product-title-wrapper {
    width: 60%;
    height: 24px;
  }
  &.product-nav-wrapper {
    width: 40%;
  }
  &.product-description-wrapper {
    margin-block: 12px;
  }
  &.table-title-wrapper {
    width: 50%;
    height: 24px;
  }
  &.table-head-wrapper {
    width: 40%;
    height: 24px;
  }
}
