@use "../../assets/default.scss" as *;
.input-element {
  width: 100%;
  margin-bottom: 16px;

  &.product-input-element {
    width: 170px;
    margin: 0;
  }
  &.category-input-element {
    width: 170px;
    margin: 0;
  }

  .MuiInputLabel-root {
    color: $greyText;
    font-family: $fontOutfitMedium;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    margin-bottom: 14px;
    overflow: visible;
  }

  .common-input {
    position: relative;
    width: 100%;
    background-color: $white;
    padding: 10px 12px;
    box-shadow:
      0 4px 4px -2px rgba(11, 37, 75, 0.12),
      0 0 0 1px rgba(11, 37, 75, 0.08);
    &.Mui-focused {
      outline: 3px solid $outlineBlue;
    }
    &.table-input {
      background-color: #fff;
      border: 1px solid #d7e1eb;
      border-radius: 4px;
      box-sizing: border-box;
      height: inherit;
      letter-spacing: normal;
      padding: 7px 11px 8px 10px;
      width: inherit;
      height: 29px !important;
      .MuiInputBase-input {
        font-size: 14px;
        color: $darkIndigo;
        font-family: $fontOutfitRegular;
        padding: 0;
        height: 20px;
      }
    }
    .MuiInputBase-input {
      font-family: $fontOutfitMedium;
      border-radius: 4px;
      max-width: 100%;
      color: $darkIndigo;
      font-size: 16px;
      padding: 0;
    }
  }
}
