@use "../../assets/default.scss" as *;
.common-box {
  &.MuiBox-root {
    &.button-create {
      padding: 8px 10px;
      display: flex;
      width: 100%;
      height: 20px;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      border: 1px solid #2a67ff;
      color: #2a67ff !important;
      .MuiTypography-root {
        font-size: 14px;
        font-family: $fontOutfitSemiBold;
      }
    }
    .horizontal-dots-icon {
      &:focus {
        border: none;
        outline: 2px solid $outlineBlue;
      }
    }
    &.image-input-wrapper {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &.section-wrapper {
      height: 100%;
    }
    &.section-header-wrapper {
      padding: 20px 35px;
    }
    &.box-container {
      padding: 24px;
    }
    &.action-btn-wrapper {
      position: absolute;
      right: 35px;
      top: 99px;
    }

    &.product-detail-wrapper {
      display: table-cell;
      padding: 18px 30px 100px 40px;
      width: 1080px;

      .header-content {
        margin-top: 20px;
      }
      .details-content {
        margin-top: 65px;
      }
    }
    &.category-detail-wrapper {
      display: table-cell;
      padding: 18px 30px 100px 40px;
      width: 1080px;

      .header-content {
        margin-top: 20px;
      }
      .details-content {
        margin-top: 65px;
      }
    }
  }
}
