@use "../../assets/default.scss" as *;
.common-select-wrapper {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #fff;
  margin-bottom: 12px;
  box-shadow:
    0 4px 4px -2px rgba(11, 37, 75, 0.12),
    0 0 0 1px rgba(11, 37, 75, 0.08);
  .MuiSelect-select {
    font-family: $fontOutfitSemiBold;
    font-size: 15px;
    color: $darkIndigo;
  }
  &.Mui-focused {
    outline: 3px solid $outlineBlue;
  }
  &.MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
  }
}
