.MuiTabs-root {
  min-height: 40px;
  margin-bottom: -7px !important;
  display: flex !important;
  overflow: hidden !important;
  .MuiTabs-flexContainer {
    border-bottom: 1px solid #e4e9ee;
    opacity: 0.9;
    padding-left: 42px;
    .MuiButtonBase-root {
      align-items: center;
      background-color: #fff;
      border: 1px solid #e4e9ee;
      border-bottom: transparent;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #848b9e;
      font-family: Outfit-SemiBold;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: normal;
      margin: 0 9px 0 0;
      min-height: 40px;
      min-width: auto;
      padding: 10px 20px;
      text-transform: none;
      &.Mui-selected {
        background-color: #f7fafc !important;
        bottom: -1px !important;
        color: #0a193e !important;
        position: relative !important;
      }
    }
  }
  .MuiTabs-indicator {
    display: none;
  }
}
.MuiTabPanel-root {
  padding: 0 !important;
  .main-content {
    background-color: #fff;
    position: relative;
    .MuiTableContainer-root {
      .MuiTableRow-root {
        cursor: pointer;
        background: #fff;
        &:hover {
          background-color: #f0f7ff !important;
        }
      }
      th.MuiTableCell-root {
        background-color: #f7fafc;
        font-size: 14px;
        font-family: Outfit-SemiBold;
      }
      .MuiTableCell-body {
        color: #0a193e;
        font-size: 16px;
        font-family: Outfit-Regular;
      }
      .MuiTableCell-root {
        color: #0a193e;
        font-size: 16px;
        padding: 10px 15px;
      }
      &.MuiTableCell-head {
        font-size: 14px;
      }
    }
  }
}
