@use "../../../assets/default.scss" as *;

.common-table {
  &.product-details-table {
    .MuiTableBody-root {
      .MuiTableRow-root {
        cursor: pointer;
        word-break: break-word;
        .table-head {
          color: #848b9e;
          min-width: 185px !important;
          padding-left: 0 !important;
          width: auto;
        }
        .title {
          padding: 8px 0px !important;
        }
        .MuiTableCell-root {
          cursor: pointer;
          border: none;
          font-size: 16px;
          min-width: 160px;
          padding: 13px 14px 13px 0;
          font-family: $fontOutfitRegular;
          font-weight: 500;
        }
      }
    }
  }
  &.category-details-table {
    .MuiTableBody-root {
      .MuiTableRow-root {
        cursor: pointer;
        word-break: break-word;
        .table-head {
          color: #848b9e;
          min-width: 185px !important;
          padding-left: 0 !important;
          width: auto;
        }
        .title {
          padding: 8px 0px !important;
          border-bottom: none !important;
        }
        .MuiTableCell-root {
          cursor: pointer;
          border: none;
          font-size: 16px;
          min-width: 160px;
          padding: 13px 14px 13px 0;
          font-family: $fontOutfitRegular;
          font-weight: 500;
        }
      }
    }
  }
}
